aiohttp==3.7.2
aiosqlite3==0.3.0
aiosqlite3==0.3.0
async-timeout==3.0.1
asyncio==3.4.3
discord.py==1.5.1
numpy==1.19.4
requests==2.25.0
typed-ast==1.4.1
wrapt==1.12.1
yarl==1.6.3
dropbox==10.9.0
gmail==0.6.3
googletrans==3.0.0

